.App {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}
.cloud-image {
  /* height: 100vh;
  width: 100vw;
  /* background-image: url("images/clouds.jpeg"); */
  /* background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: absolute;
  opacity: 0.5; */ 
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.6;
}
.home-text {
  color: white;
  z-index: 1;
}
.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.about {
  width: 60vw;
  background-color: black;
  
}
.nav-bar {
  color: white;
  position: absolute;
  left: 5vw;
  overflow: hidden;
  width: 90vw;
  z-index: 1;
}
.bottom-bar {
  color: white;
  position: absolute;
  bottom: 1vh;
  overflow: hidden;
  width: 100vw;
  z-index: 1;
  /* background-color: black; */
  /* padding: 1%; */
}
.logo {
  color: white;
}
.link {
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
}
#simple-menu{
  
}
.link:link {
  text-decoration: none;
}
.link:visited {
  text-decoration: none;
}
.link:hover {
  text-decoration: none;
  opacity: 1;
}
.menu-icon {
  color: white;
}
.image {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* opacity: 75%; */
}
.ung {
  background-image: url('./images/ung.png');
}
.aum {
  background-image: url('./images/aum.png');
}
.nsf {
  width: 90px;
  height: 90px;
  background-image: url('./images/nsf.png');
}
.xsede {
  height: 21px;
  background-image: url('./images/xsede.png');
}
